
.facts-content{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    /* background-color: #CEBCDB; */
}
.facts-content>p{
    margin-bottom: 5px;
    padding: 6px;
    font-weight: 300;
}
.facts-content>button{
    background-color: white;
    color: #753ea0;
    cursor: pointer;
    border: 1px solid #753ea0;
    padding: 6px;
    font-size: 16px;
    border-radius: 8px;
    transition: .4s;
}
.facts-content>button:hover{
    color: white;
    background-color: #8254a5;
}